{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center mt-10"> <!-- Keep mt-10 if you want the content to start lower on the page -->
    <!-- Heading without extra margin -->
    <h1 class="text-3xl font-bold text-white mb-2">Thomas Sentence Mix Helper</h1>

    <!-- Search Box -->
    <div class="flex justify-center mb-6 mt-10"> <!-- Removed items-center and adjusted mb-10 to mb-6 -->
        <form method="post" class="flex items-center">
            <div class="relative">
                <!-- Search Box width -->
                <input type="text" name="query" class="p-2 rounded-l-lg border-none outline-none bg-gray-800 text-white w-96"
                       placeholder="Enter a word or phrase here" value="{{ query }}">
            </div>
            <select name="narrator" class="p-2 bg-gray-700 text-white rounded-r-lg">
                {% for name, value in narrators.items() %}
                <option value="{{ value }}" {% if value == selected_narrator %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="ml-2 px-4 py-2 bg-blue-600 text-white rounded-lg">Search</button>
        </form>
    </div>

    <!-- Display 'No results found' only after a search has been performed -->
    {% if query and results is not none and results|length == 0 %}
    <div class="text-center text-white text-xl mt-4 mb-6">
        No results found.
    </div>
    {% endif %}
</div>

{% if results %}
<div class="text-center text-white text-xl mb-4">
    {{ results|length }} results found.
</div>
<div class="mt-4 mb-10 grid gap-4 grid-cols-1">
    {% for result in results %}
    <div class="card bg-gray-800 p-6 rounded-lg shadow-md w-full">
        <h3 class="text-2xl font-semibold">Series {{ result.series }}, Episode {{ result.episode_number }} - {{ result.episode_title }} ({{ result.region.upper() }} Version)</h3>
        <p class="italic text-gray-400">{{ narrator_lookup.get(result.narrator, result.narrator) }}</p>
        <p class="mt-4">
            {{ result.line|replace(query.lower(), "<strong>"+query.lower()+"</strong>")|safe }}
        </p>
        <p class="mt-4 text-sm">
            {{ result.start_time }} - {{ result.end_time }}
        </p>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="mb-20"></div> <!-- Added bottom padding to separate last card from bottom of page -->
{% endblock %}